*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:sans-serif;

}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: white;
    
}

#nav{
    height: 100px;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
}

#nav-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1px;
    cursor: pointer;
    
}

#nav h3{
    font-size: 16px;
    border: 1.5px solid black;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 50px;
}

#nav i{
    font-size: 16px;
    border: 1.5px solid black;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 50px;
}

#nav h1{
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
}

#nav button{
    padding: 7px 12px;
    border-radius: 50px;
    border: 1.5px solid #000;
    font-size: 16px;
    font-weight: 600;
   
}
#btn1{
    background-color: whitesmoke;
}
#btn2{
   background-color: orangered;
   color: aliceblue;
}

#middle{
    font-size: 100px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;

}

img{
    height: 400px;
    width: 300px;
    position: absolute;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#img1{
    transform: translate(-50%, -50%) rotate(-30deg);
}

#img2{
    transform: translate(-50%, -50%) rotate(-20deg);
}

#img3{
    transform: translate(-50%, -50%) rotate(-10deg);
}


#btm-left {
    position: absolute;
    bottom: 5%;
    left: 3%;
    font-size: 17px;
}

#btm-right{
    position: absolute;
    bottom: 5%;
    right: 3%;
    font-size: 17px;
}





